{% extends 'base.html' %} {% load static %} {% block content %}

<h1 style="color:#ffffff">Blog</h1>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{posteo.imagen.url}}" alt="" style='width:50%'>
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">{{posteo.titulo}}</span>
                    <p class="section-heading-upper">{{posteo.contenido | safe}}</p>
                </h2>


                <h6>
                    <span class="section-heading">Autor: {{posteo.autor}}</span>
                </h6>
                <h6>
                    <span class="section-heading">Fecha: {{posteo.created}}</span>
                </h6>
            </div>

        </div>
    </div>
</section>
<br> {% for categoria in posteo.categorias.all%}
<!-- se recorre un segundo bucle ya que el primero devuelve un queryset(por tratarse de una relacion) -->
<br>
<a href="{% url 'Categoria' categoria.id %}">
    <h6 style="color:#ffffff">{{categoria.nombre}}</h6>
    <br> {% endfor %}</a>{% endblock %}